@media (min-width: 768px) and (max-width: 991px){
   .bar_icon{
      display:block;
      
   }
   .navitem{
      display:none;
   }
   .navbar{
      justify-content:flex-start;
      margin-left:40px;


   }
  
.info1{
   font-size:18px;
 
}
.name{
   font-size:60px;
   
}
.name2{
  
   font-size:40px;
}
.info2{
   font-size:16px;
}
   .projectbox{
      column-gap:20px;
   }
   
  
}

@media (max-width: 767px){

   *{
      box-sizing: border-box;
   }
   .bar_icon{
      display:block;
      
   }
   .navitem{
      display:none;
   }
   .navbar{
      justify-content:flex-start;
      margin-left:40px;


   }
   .home{
      justify-content:center;
       text-align: center;
      
      
   }
  
  
   
.contact{
  display:flex;
   justify-content:center;
   
}
.hr{
   margin:auto;
   margin-top:30px;


}
   
    
.info1{
   font-size:18px;
 
}
.name{
   font-size:40px;
   
}
.name2{
  
   font-size:40px;
}
.info2{
   font-size:16px;
}
.handshake{
   width:40px;
   height:40px;
  
}
.skillicon {
   flex-direction: column;
align-items: center;
   row-gap:20px;
}
.projectbox{
   row-gap:20px;
   flex-direction: column;
  align-items: center;
}

.contactpage{
   width:500px;
   
   
}
.contactpage .input{

width:300px;
}
#textarea{
   width:300px;
}
.contact_button{
  margin-left:170px;
  
}
.project_usability:hover .projecthover_usability{
margin-bottom:330px;
}

   
   
   
    
   
   
}


