/*@media (min-width: 1540px) {
  .navbar {
    height: 100px;
  }
  .navitem {
    column-gap: 150px;
  }
  .navitem a {
    font-size: 85px;
  }
  #resume {
    font-size: 25px;
  }
  .handshake {
    width: 100px;
    height: 100px;
  }
  .info {
    margin-top: 250px;
  }
  .info1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .name {
    font-size: 100px;
  }
  .name2 {
    font-size: 85px;
  }
  .info2 {
    font-size: 25px;
  }
  .get_in_touch-box {
    margin-top: 50px;
  }
  .get_in_touch {
    font-size: 25px;
    padding: 20px, 50px;
  }
  .hr {
    width: 180px;
  }

  .contact i {
    font-size: 30px;
  }
  .headingabout {
    font-size: 40px;
  }
  .about_desc {
    font-size: 22px;
    margin-top: 40px;
  }
  #about_section {
    scroll-margin-top: 200px;
  }
  .eduheading {
    font-size: 22px;
   
  }
  p.skill_description{
    font-size: 22px;
    margin-bottom: 30px;
  }
  .skill_logo {
    column-gap: 60px;
  }
  #skill_section {
    scroll-margin-top: 250px;
  }

  .project_description {
    font-size: 22px;
    margin-bottom: 90px;
  }
  .projects {
    column-gap: 50px;
  }
  .contactheading p {
    font-size: 22px;
    
  }
  .contact_button {
    width: 200px;
    height: 40px;
   font-size: 20px;
  }
}

*/

/*Tablet Screen*/

@media (max-width: 991px) {
  .navicon {
    display: block;
  }
  .cross {
    display: none;
    font-size: 30px;
  }
  .navitem {
    display: none;
    background-color: #ff5722;
    width: 100%;
    flex-direction: column;
    row-gap: 70px;
    align-items: center;
    position: absolute;
    top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    transition-property: "transform";
    transition-duration: 5s;
    transition-timing-function: linear;
  }
  .transform {
    transform: translateY("100vh");
  }
  .navitem a:hover {
    text-decoration: underline;
    text-decoration-color: white;
  }
  #resume {
    border: 2px solid white;
  }
  #resume:hover {
    background-color: white;
    border: none;
    color: #ff5722;
  }
  .navitem.active {
    display: flex;
  }
  .info1 {
    font-size: 18px;
  }
  .name {
    font-size: 60px;
  }
  .name2 {
    font-size: 40px;
  }
  .info2 {
    font-size: 16px;
  }
  .about_desc {
    width: 700px;
  }
  .skill_description {
    width: 500px;
  }
  .project_description {
    text-align: center;
  }
  .projects {
    row-gap: 20px;
  }
  
}



/* Mobile Screen*/
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }

  .navitem {
    display: none;
    background-color: #ff5722;
    width: 100%;
    flex-direction: column;
    row-gap: 70px;
    align-items: center;
    position: absolute;
  
    top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
  }

  .navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    
  z-index: 1;
    
   

   
   
  }
  #resume {
    border: 2px solid white;
  }
  #resume:hover {
    background-color: white;
    border: none;
    color: #ff5722;
  }
  .navicon {
    display: block;
    cursor: pointer;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
   

  }
  .navitem.active {
    display: flex;
  }
  .cross {
    display: none;
    cursor: pointer;
  }
  .home {
    justify-content: center;
    text-align: center;
   
  }
  .contact {
    display: flex;
    justify-content: center;
  }
  .hr {
    margin: auto;
    margin-top: 30px;
  }

  .info1 {
    font-size: 18px;
  }
  .name {
    font-size: 40px;
  }
  .name2 {
    font-size: 40px;
  }
  .info2 {
    font-size: 16px;
  }
  .handshake {
    width: 40px;
    height: 40px;
  }
  .about_desc {
    width: 400px;
  }
  .skill_logo {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  #skill_section {
    scroll-margin-top: 120px;
  }
  .skill_description {
    width: 400px;
  }

  .project_description {
    padding-left: 20px;
    padding-right: 20px;
  }
  #project_section {
    scroll-margin-top: 100px;
  }
  .contactpage {
    width: 400px;
  }
  .contactpage .input {
    width: 300px;
  }
  #textarea {
    width: 300px;
  }
  .project_usability:hover .projecthover_usability {
    margin-bottom: 330px;
  }

  #home_section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about_desc {
    padding-left: 40px;
    padding-right: 40px;
  }

  .education {
    padding-left: 60px;
  }
  .headingabout {
    font-size: 23px;
  }
  .myimg {
    padding-right: 50px;
  }
  .skill_description {
 padding-left:40px;
 padding-right: 40px;
   
   
  }
  .contactpage {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact {
    margin-right: 30px;
  }
  #contact_section {
    scroll-margin-top: 90px;
  }
}
